html,
h3,
body,
form {
  /* undo default browser margins */
  margin: 0;
}

body {
  font-family: "Press Start 2P", cursive;
  font-size: 30px;
  overflow: hidden;
}

h3 {
  font-size: 20px;
  line-height: 30px;
}

p {
  font-size: 16px;
  line-height: 20px;
  font-family: monospace;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

#boardContainer {
  display: flex;
  height: 100%;
  overflow: scroll;
}

#board {
  margin: auto;
}

.row {
  display: flex;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  min-height: 60px;
  min-width: 60px;
}

.water {
  background-color: #424fdb;
  opacity: 1;
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #424fdb 10px
    ),
    repeating-linear-gradient(#262a7855, #262a78);
}

.dirt {
  background-color: #b67437;
  opacity: 1;
  background-image: radial-gradient(#784e26 0.75px, transparent 0.75px),
    radial-gradient(#34631e 0.75px, #61972d 0.75px);
  background-size: 11px 14px;
  background-position: 0 0, 19px 21px;
}
