html,
h3,
body,
form {
  /* undo default browser margins */
  margin: 0;
}

body {
  font-family: sans-serif;
  font-size: 30px;
}

p {
  font-size: 16px;
}

.hidden {
  display: none !important;
}

#setupFormContainer {
  padding: 30;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  /* center above all other content */
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;

  width: 400px;
  height: min-content;

  color: darkslategrey;
  text-align: center;
  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);

  overflow: scroll;
}
@media screen and (max-width: 500px) {
  #setupFormContainer {
    /* Content will overflow on small screens due to padding without this */
    box-sizing: border-box;
    width: 100%;
    border-radius: 0;
  }
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

label {
  font-size: 18px;
  margin: 25 0 10 0;
  /* so tooltip will appear immediately to the right of the text instead of at the edge of the window */
  width: max-content;
}

#submit {
  margin-top: 30;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

#boardContainer {
  display: flex;
  height: 100%;
  overflow: scroll;
}

#board {
  margin: auto;
}

.row {
  display: flex;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  min-height: 60px;
  min-width: 60px;
}

.water {
  background-color: #424fdb;
  opacity: 1;
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #424fdb 10px
    ),
    repeating-linear-gradient(#262a7855, #262a78);
}

.grass {
  background-color: rgba(0, 255, 0, 0.6);
}

.dirt {
  background-color: #b67437;
  opacity: 1;
  background-image: radial-gradient(#784e26 0.75px, transparent 0.75px),
    radial-gradient(#784e26 0.75px, #b67437 0.75px);
  background-size: 10px 15px;
  background-position: 0 0, 20px 20px;
}

/* Tooltip to display when hovering over animals */
.tooltip {
  cursor: pointer;
  position: relative;
  white-space: pre-wrap;
}

.tooltip:before {
  z-index: 100;
  content: attr(data-text);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 100%;
  margin-left: 15px;

  font-size: 14;
  line-height: 2;
  width: 200px;
  padding: 10px;
  border-radius: 10px;
  background: #000;
  color: #fff;
  text-align: center;

  display: none; /* hide by default */
}

.tooltip:hover:before {
  display: block;
}
