html,
h3,
body,
form {
  /* undo default browser margins */
  margin: 0;
}

body {
  font-family: "Press Start 2P", cursive;
  font-size: 30px;
  overflow: hidden;
}

h3 {
  font-size: 20px;
  line-height: 30px;
}

p {
  font-size: 16px;
  line-height: 20px;
  font-family: monospace;
}

.hidden {
  display: none !important;
}

#setupFormContainer {
  padding: 30;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 400px;
  color: darkslategrey;
  text-align: center;
  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
  overflow-y: scroll;
  /* IE and Edge disable scrollbar visibility */
  -ms-overflow-style: none;
  /* Firefox disable scrollbar visibility */
  scrollbar-width: none;
}
/* Modern Webkit Browsers disable scrollbar visibility*/
#setupFormContainer::-webkit-scrollbar {
  display: none;
}
@media screen and (max-width: 500px) {
  #setupFormContainer {
    /* Content will overflow on small screens due to padding without this */
    box-sizing: border-box;
    width: 100%;
    border-radius: 0;
  }
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

label {
  font-size: 14px;
  margin: 25 0 10 0;
  /* so tooltip will appear immediately to the right of the text instead of at the edge of the window */
  width: max-content;
}

#submit {
  margin-top: 30;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

#boardContainer {
  display: none;
  height: 100%;
  overflow: scroll;
}

#board {
  margin: auto;
}

#gameControls {
  position: absolute;
  top: 10;
  right: 10;
  font-size: 20;
  cursor: pointer;
  background-color: black;
  color: yellow;
  border-radius: 100%;
  padding: 10 8 8 10;
}

.row {
  display: flex;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  min-height: 60px;
  min-width: 60px;
}

.water {
  background-color: #424fdb;
  opacity: 1;
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #424fdb 10px
    ),
    repeating-linear-gradient(#262a7855, #262a78);
}

.dirt {
  background-color: #b67437;
  opacity: 1;
  background-image: radial-gradient(#784e26 0.75px, transparent 0.75px),
    radial-gradient(#34631e 0.75px, #61972d 0.75px);
  background-size: 11px 14px;
  background-position: 0 0, 19px 21px;
}

/* Tooltip to display when hovering over animals */
.tooltip {
  cursor: pointer;
  position: relative;
  white-space: pre-wrap;
}
.left.tooltip:before {
  left: unset;
  top: 100%;
  right: 100%;
  transform: unset;
}
.tooltip:before {
  z-index: 999;
  box-sizing: border-box;
  content: attr(data-text);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 100%;
  margin-left: 15px;

  font-size: 10;
  line-height: 3;
  width: 200px;
  padding: 10px;
  border-radius: 10px;
  background: #000;
  color: #fff;

  display: none; /* hide by default */
}

.tooltip:hover:before {
  display: block;
}
